{% load static %}
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/error_style.css' %}">
    </head>
    <body>
        <div id="delMail" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Удаление</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Вы точно хотите удалить почтовый адресс?</p>
                </div>
                <div class="modal-footer">
                  <button id="{{address}}" type="button" class="btn btn-danger" onclick="del_is_not_found_mail(this.id);">Да, удалить</button>
                </div>
              </div>
            </div>
        </div>
        <div class="text">
            <div>ERROR</div>
            <h1>404</h1>
            <hr>
            <div>{{message}}</div>
        </div>
        {% if message != "Account is not found!" %}
            <div>
                <button type="button" id="del-mail" class="btn btn-danger" onclick="javascript:$('#delMail').modal('show')">Удалить адресс</button>
                <button type="button" id="return-main-page" class="btn btn-light" onclick="return_main_page();">Вернуться</button>
            </div>
        {% endif %}
        <div class="astronaut">
        <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script language="javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>