{% extends 'base.html' %}
{% block title%}FuckMail{% endblock %}

{% block body %}
<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Добавить аккаунт</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="add_account">
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">📧</span></div>
                <input type="text" class="form-control" name="mail-address" placeholder="Mail address">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">🔐</span></div>
                <input type="text" class="form-control" name="mail-password" placeholder="Mail password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">👮🏻‍♂️</span></div>
                <input type="text" class="form-control" name="proxy-url" placeholder="Proxy url (ip:port:username:password)">
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="save_account">Сохранить</button>
            </div>
        </form>
        </div>
      </div>
</div>

<div id="addFewAccounts" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--<form id="load-few-accounts" method="post" action="add_few_accounts" enctype="multipart/form-data">-->
                <div class="wrapper">
                    <h1>Загрузить аккаунты</h1>
                    <div class="upload-container">
                    <div class="border-container">
                        <div class="icons fa-4x">
                        <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                        <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                        </div>
                        <p>Загрузите файл<input id="file-browser" type="file">в формате .txt с вашего компьютера.<br>
                            <small>Файл не должен превышать размер в 50МБ</small></p>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button id="liveToastBtn" type="button" class="btn btn-primary" name="save_accounts" onclick="get_file();">Сохранить</button>
                </div>
            <!--</form>-->
        </div>
    </div>
</div>

{% if is_new_account.status %}
    {% if is_new_account.type == 'Success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{is_new_account.message|safe}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% elif is_new_account.type == 'Error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{is_new_account.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endif %}
<br>
<div id="main-row" class="row justify-content-between">
    <div class="col-3">
    {% if emails %}
    <div class="alert alert-secondary" role="alert">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <h4 id="emails-title">Emails</h4>
                </div>
                <div id="username" class="col-sm text-right">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="col-xs-12 col-sm-4">
                                <button type="button" class="btn btn-dark" onclick="javascript:$('#myModal').modal('show')">Добавить аккаунт</button>
                                <button type="button" class="btn btn-dark" onclick="javascript:$('#addFewAccounts').modal('show')">Добавить несколько аккаунтов</button>
                                <button type="button" class="btn btn-dark" onclick="del_all_accounts();">Удалить все аккаунты</button>
                                <button type="button" class="btn btn-danger" onclick="location.href='logout'">Выход</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">🔍</span>
            </div>
            <input type="text" id="basic-addon1" name="search_mail" class="form-control" placeholder="Mail Address" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </form>
    <h5 id="mails-count">Количество: <span id="mails-count-number" class="badge bg-secondary">{{mails_length}}</span></h5>
    <div id="mails-scrollbar" class="list-group pre-scrollable">
        <form method="post" action="/profile">
            {% if first_mail %}
                <input style="color: black;" id="mail-{{first_mail}}" name="have_mail" value="{{first_mail}}" type="submit"
                class="list-group-item list-group-item-action shadow p-3 mb-2 bg-white rounded" title="{{first_mail}}">
            {% endif %}
            {% csrf_token %}
            {% for email in emails %}
                <input id="mail-{{email}}" name="have_mail" value="{{email}}" type="submit" 
                class="list-group-item list-group-item-action shadow p-3 mb-2 bg-white rounded" title="{{email}}">
            {% endfor %}
        </form>
    </div>
    {% else %}
        {% if first_mail %}
        <div class="alert alert-secondary" role="alert">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <h4 id="emails-title">Emails</h4>
                    </div>
                    <div id="username" class="col-sm text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{username}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="col-xs-12 col-sm-4">
                                    <button type="button" class="btn btn-dark" onclick="javascript:$('#myModal').modal('show')">Добавить аккаунт</button>
                                    <button type="button" class="btn btn-dark" onclick="javascript:$('#addFewAccounts').modal('show')">Добавить несколько аккаунтов</button>
                                    <button type="button" class="btn btn-dark" onclick="del_all_accounts();">Удалить все аккаунты</button>
                                    <button type="button" class="btn btn-danger" onclick="location.href='logout'">Выход</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">🔍</span>
                </div>
                <input type="text" id="basic-addon1" name="search_mail" class="form-control" placeholder="Mail Address" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
        <h5 id="mails-count">Количество: <span id="mails-count-number" class="badge bg-secondary">{{mails_length}}</span></h5>
        <div id="mails-scrollbar" class="list-group pre-scrollable">
            <form method="post" action="/profile">
                    <input style="color: black;" id="mail-{{first_mail}}" name="have_mail" value="{{first_mail}}" type="submit"
                    class="list-group-item list-group-item-action shadow p-3 mb-2 bg-white rounded" title="{{first_mail}}">
            </form>
        </div>
        {% else %}
        <div class="alert alert-secondary" role="alert">
            <div class="container-fluid">
                <div class="row">
                    <div id="emails-title-is-not-found" class="col-sm">
                        <h4 id="is_not_emails-title">Emails is not found</h4>
                    </div>
                    <div id="username" class="col-sm text-right">
                        <div class="dropdown">
                            <button id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{username}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="col-xs-12 col-sm-4">
                                    <button type="button" class="btn btn-dark" onclick="javascript:$('#myModal').modal('show')">Добавить аккаунт</button>
                                    <button type="button" class="btn btn-dark" onclick="javascript:$('#addFewAccounts').modal('show')">Добавить несколько аккаунтов</button>
                                    <button type="button" class="btn btn-dark" onclick="del_all_accounts();">Удалить все аккаунты</button>
                                    <button type="button" class="btn btn-danger" onclick="location.href='logout'">Выход</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    </div>
    <div class="col-9">
    {% if messages %}
    <div id="delMail" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Удаление</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Вы точно хотите удалить почтовый адресс?</p>
            </div>
            <div class="modal-footer">
              <button id="{{address}}" type="button" class="btn btn-danger" onclick="del_mail(this.id);">Да, удалить</button>
            </div>
          </div>
        </div>
    </div>
    <div class="alert alert-primary" role="alert">
        <h4 id="messages-title">Messages(Incoming💬{{messages|length}}) <span id="mail_address" class="badge badge-dark"">{{address}}</span> <button type="button" id="del-mail" class="btn btn-danger" onclick="javascript:$('#delMail').modal('show')"></button></h4>
    </div>
    <div class="accordion pre-scrollable p-6" id="accordionExample">
        {% for message in messages %}
            <div class="card">
                <!--<div class="card-header shadow p-3 mb-2 bg-white rounded" id="heading{{message.message_id}}">-->
                    {% if message.visual %}
                        <h5>
                        <input style="color: #686868;" id="{{message.message_id}}" value="{{message.from_user}} - {{message.subject}}" type="submit" 
                        class="list-group-item list-group-item-action shadow p-3 mb-2 bg-white rounded font-weight"
                        data-toggle="collapse" data-target="#collapse{{message.message_id}}" aria-expanded="true" aria-controls="collapse{{message.message_id}}"
                        data-placement="right" title="{{message.subject}}" onclick="show_message(this.id);">
                        </h5>
                    {% else %}
                        <h5>
                        <input style="color: #000000;" id="{{message.message_id}}" value="{{message.from_user}} - {{message.subject}}" type="submit" 
                        class="list-group-item list-group-item-action shadow p-3 mb-2 bg-white rounded font-weight-bold"
                        data-toggle="collapse" data-target="#collapse{{message.message_id}}" aria-expanded="true" aria-controls="collapse{{message.message_id}}"
                        data-placement="right" title="{{message.subject}}" onclick="show_message(this.id);">
                        </h5>
                    {% endif %}
                <!--</div>-->
                <div id="collapse{{message.message_id}}" class="collapse" aria-labelledby="heading{{message.message_id}}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="bang">
                            <small id="emailHelp" class="form-text text-muted">Date: <u>{{message.date|date:'Y-M-d H:i:s'}}</u>&nbsp;<a class="message_more" role="button" tabindex="0" href="/message_more_info/{{message.message_id}}">More</a></small>
                        </div>
                        <br>
                        <div>
                            {{message.payload|safe}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div id="is_not_messages-title" class="alert alert-primary" role="alert">
            <h4>Messages is not found</h4>
        </div>
    {% endif %}
</div>
{% endblock %}