body{
    background-image: url(../images/background.png);
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-row{
    height: 750px;
}

.accordion{
    max-height:645px;
}

.list-group{
    max-height: 545px;
}

.alert-secondary{
    width: 361px;
    font-weight: bold;
    background-color: #2F4F4F;
}

#emails-title-is-not-found{
    height: 50px;
}

.alert-primary{
    /*width: 550px;*/
    height: 50px;
    color: black;
    background-color: #2F4F4F;
}

.mb-0{
    height: 50px;
}

.btn-default{
    background-color: grey;
}

.message_more{
    color: purple;
}
input[name="have_mail"]{
    height: 45px;
    text-align:center;
    font-weight: bold;
    color: white;
    background-image: url(../images/message_button_back.jpg);
}

.card-header{
    height: 10px;
    background-image: url(../images/emails_button_back.jpg);
}

.list-group-item{
    color: black;
    font-size: 15px;
    background-image: url(../images/message_button_back2.jpg);
}

#emails-title{
    color: #E0FFFF;
}

#messages-title{
    color: #E0FFFF;
}

.container{
    width: 350px;
}

#mails-scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#mails-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

#accordionExample::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#accordionExample::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

a.foo:link{
    color:blue;
}

#is_not_messages-title{
    color: white;
}

#is_not_emails-title{
    color: white;
}

.btn-dark{
    width: 130px;
    margin: 10px auto;
    font-size: 15px;
}

.btn-danger{
    width: 130px;
    font-size: 15px;
}

#del-mail{
    width: 34px;
    height: 19px;
    background-image: url(../images/_mail_del.png);
}

.dropdown-menu{
    width: 50px;
    height: 135px;
    background-image: url(../images/message_button_back.jpg);
}

.lead{
    color: white;
}